.constructorWrapper {
  padding: 100px 16px 92px;
  max-height: calc(100vh - 82px);
}

.constructor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
  margin: 16px 0;
  min-height: 80px;
  /* Здесь захардкожено, не знаю пока как повешать DOMContentLoaded в функциональных компонентах, для того чтобы считать его через JS */
  max-height: calc(100vh - 82px - 100px - 92px - 96px - 80px - 40px - 64px - 20px);
  overflow-y: auto;
}

.constructor > div:not(:last-child) {
  margin-bottom: 16px;
}

.constructorItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.constructorItem > svg {
  margin-right: 8px;
}

.constructorTotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.constructorTotal > svg {
  margin-left: 9.5px;
  margin-right: 40px;
}
