.tabs {
  display: flex;
  margin-bottom: 40px;
}

.tabs > div {
  flex-basis: 33.33%;
}

.ingredientsList {
  /* Здесь захардкожено, не знаю пока как повешать DOMContentLoaded в функциональных компонентах */
  height: calc(100vh - 82px - 100px - 96px);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
